<section class="flex justify-center items-center h-screen -mt-11">
    <article class=" max-sm:-mt-24 sm:p-6 md:p-8 p-4 bg-white">
        <div class="space-y-6">
            <img class="w-4/5 block m-auto" src="../../../../assets/image/error-404.svg" alt="">
            <h1 class="max-sm:text-2xl sm:text-5xl opacity-80 font-semibold text-center text-gray-900 dark:text-white">¡Ups! Parece que te has perdido.</h1>
            <button type="submit"  class="w-1/2 block m-auto text-white bg-rose-500 hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center">Volver</button>
        </div>
    </article>
</section>